Repository nhsengland/nhs-r-reporting, pull requests merged in 2023-04, with the labels that each got.

#34 adds repo-subdir to yaml options
  docs/_quarto.yml
Labels: bug

#35 multiple small fixes
  docs/_freeze/tutorials/quarto/execute-results/html.json
  docs/_freeze/tutorials/quarto/figure-html/unnamed-chunk-25-1.png
  docs/_site/index.html
  docs/_site/search.json
  docs/_site/tutorials/index.html
  docs/_site/tutorials/nhs-colours.html
  docs/_site/tutorials/quarto.html
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-10-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-14-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-25-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-26-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-5-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-7-1.png
  docs/index.qmd
  docs/tutorials/nhs-colours.qmd
  docs/tutorials/quarto.qmd
  examples/Interactive_Quarto_v2.qmd
  nhs-r-reporting.Rproj
Labels: bug, docs, feature

#37 Update contribute.qmd
  docs/contribute.qmd
Labels: docs

#39 added accessibility requirements to contribute section
  docs/_site/contribute.html
  docs/_site/index.html
  docs/_site/search.json
  docs/_site/tutorials/index.html
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-10-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-14-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-26-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-5-1.png
  docs/_site/tutorials/quarto_files/figure-html/unnamed-chunk-7-1.png
  docs/_site/tutorials/rstudio-git.html
  docs/contribute.qmd
  docs/tutorials/rstudio-git.qmd
Labels: docs
